{% extends 'layouts/base.html' %}
{% block title %} Servizi {% endblock title %}

{% block content %}
<section id="hero_ser">
    <div class="container min-vh-100">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-white pb-5 fw-bold" style="font-size: 3rem;"> <span class="fw-light"
                        style="font-size: 2rem;"> IL TUO
                        PORTALE D’ACCESSO ALL’UNIVERSO
                    </span><br>
                    DELL’<span class="purple_text">ID</span>ENTITÀ
                    DIGITALE
                </h1>
                <div class="d-flex align-items-center purple_text">
                    <div class="dash dash-purple"></div>
                    <p class="">OUR PREMIUM IMPRINT</p>
                </div>
                <p class="text-white-50">
                    Il Team di PREMIUM ID ti seguirà passo a passo nel percorso di<br>
                    sviluppo della tua <span class="text-white"><strong>identità digitale.</strong></span> Ci occupiamo
                    di <span class="text-white"><strong>creare la<br>Brand Identity</strong> </span>
                    e di espanderla nel mondo digitale grazie a un<br>
                    <span class="text-white"><strong>servizio completo</strong></span> di posizionamento online.
                </p>
                <a href="#here_goes_cta" class="btn primary-btn"
                    style="display: flex; justify-content: center; align-items: center;">Scopri di più</a>
            </div>
            <div class="col-md-6 position-relative">
                <img src="/static/images/2.png" alt="">
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4" data-aos="fade-right">
                <img class="card-img" src="/static/images/primaSERVIZI-01.png" alt="">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                <h1 class="text-white pb-3 text-uppercase fw-bold">How To Do It</h1>
                <div class="d-flex align-items-center purple_text">
                    <!-- <div class="dash dash-purple"></div> -->
                    <p class="fw-bold">BRANDING - USER INTERFACE & USER EXPERIENCE - SOCIAL MEDIA MARKETING WEBSITE &
                        E-COMMERCE - SHOOTING PHOTO & VIDEO - GRAPHIC DESIGN - MOTION GRAPHIC - <strong>3</strong>D
                        DESIGN</p>
                </div>
                <p class="text-white-50">
                    <span class="text-white"><strong>Esperienza digitale, design</strong></span> di livello e
                    interattivo, <span class="text-white"><strong>storytelling e creatività</strong></span> concettuale
                    e visiva,<br>
                    sono i nostri punti di forza per la creazione della tua <span class="text-white"><strong>digital
                            identity.</strong></span><br>
                    <br>
                    Offriamo esperienze di servizio uniche e autentiche, elaborate sulla base delle tue necessità,<br>
                    che contribuiscano allo sviluppo digitale del tuo business.<br>
                    <br>
                    What are you waiting for? <span style="color: #994c8c"><strong>Do ID better!</strong></span>

                </p>
            </div>
        </div>
    </div>
</section>



<section class="py-5" id="here_goes_cta">
    <div class="container ">
        <div class="row align-items-center" data-aos="fade-up">
            <div class="col-md-5">
                <div class="dash dash-purple w-100"></div>
            </div>
            <div class="col-md-2 text-center purple_text">
                <p class="">OUR PREMIUM IMPRINT</p>
            </div>
            <div class="col-md-5">
                <div class="dash dash-purple w-100"></div>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <h2 class="text-center text-white">FOR YOUR PREMIUM ID</h2>
        </div>
        <div class="row py-5 my-5">
            <div class="col-md-6 text-white" data-aos="fade-right">
                <img src="/static/images/costruiscilatuaessenza-01.png" width="60%" class="p-5" alt="">
                <p class="purple_text">SOCIAL MEDIA STRATEGY</p>
                <h2 class=" fw-bold">Costruisci la tua essenza</h2>
                <p class="text-white-50">In questa fase lavoreremo alla produzione dell’identità del tuo brand nella sua
                    interezza, sia
                    concettuale che visiva. A partire dalle tue caratteristiche peculiari, creeremo la forza di un brand
                    proiettato verso il futuro: dalla definizione della Brand Identity alla produzione delle strategie
                    di marketing.</p>
            </div>
            <div class="col-md-6 text-white pt-5" data-aos="fade-left" data-aos-delay="100">
                <img src="/static/images/immagine-01.png" width="60%" class="p-5" alt="">
                <p class="purple_text">SOCIAL MEDIA STRATEGY</p>
                <h2 class=" fw-bold">Valorizza la tua immagine</h2>
                <p class="text-white-50">In questa fase lavoreremo alla produzione dell’identità del tuo brand nella sua
                    interezza, sia
                    concettuale che visiva. A partire dalle tue caratteristiche peculiari, creeremo la forza di un brand
                    proiettato verso il futuro: dalla definizione della Brand Identity alla produzione delle strategie
                    di marketing.</p>
            </div>
        </div>
        <div class="row py-5 my-5">
            <div class="col-md-6 text-white" data-aos="fade-right" data-aos-delay="150">
                <img src="/static/images/difference-01.png" width="60%" class="p-5" alt="">
                <p class="purple_text">SOCIAL MEDIA STRATEGY</p>
                <h2 class=" fw-bold">Make the difference</h2>
                <p class="text-white-50">In questa fase lavoreremo alla produzione dell’identità del tuo brand nella sua
                    interezza, sia
                    concettuale che visiva. A partire dalle tue caratteristiche peculiari, creeremo la forza di un brand
                    proiettato verso il futuro: dalla definizione della Brand Identity alla produzione delle strategie
                    di marketing.</p>
            </div>
            <div class="col-md-6 text-white mt-5 pt-5" data-aos="fade-left" data-aos-delay="200">
                <img src="/static/images/talent-01.png" width="60%" class="p-5" alt="">
                <p class="purple_text">SOCIAL MEDIA STRATEGY</p>
                <h2 class=" fw-bold">Our Premium talents</h2>
                <p class="text-white-50">In questa fase lavoreremo alla produzione dell’identità del tuo brand nella sua
                    interezza, sia
                    concettuale che visiva. A partire dalle tue caratteristiche peculiari, creeremo la forza di un brand
                    proiettato verso il futuro: dalla definizione della Brand Identity alla produzione delle strategie
                    di marketing.</p>
            </div>
        </div>
    </div>
</section>
<section id="white_pre">
    <div class="container bg-white position-relative" style="border-radius: 1rem">
        <div class="row w-100 d-flex justify-content-center align-items-center text-center my-md-5 cta_sec"
            data-aos="fade-up">
            <h2>WHY TO GO PREMIUM?</h2>
            <p class="py-4">
                Abbiamo l’<strong>ambizione</strong> di puntare sempre al massimo, ogni progetto viene conseguito
                con<br>
                estremo <strong>senso di appartenenza</strong> da parte di tutto il team. Ogni risultato è un
                <strong>traguardo<br>personale e collettivo</strong>
                , raggiunto attraverso la <strong>passione</strong> e l’unione che ci<br>
                contraddistinguono.
            </p>
            <a href="{{ url_for('prenota_consulenza' ) }}" class="btn primary-btn"
                style="display: flex; justify-content: center; align-items: center;">Scopri di più</a>
        </div>
    </div>
</section>
<section class="bg_sec" style=" background: url(/static/images/section_c_c.png); background-size: cover; background-repeat: no-repeat; padding-top: 2em; padding-bottom: 2em; margin-top: 2em;">
    <div class="container py-md-5">
        <div class="row py-md-5 my-md-5 align-items-center">
            <div class="col-md-8">
                <div class="d-flex align-items-center purple_text">
                    <!-- <div class="dash dash-purple"></div> -->
                    <p class="text-uppercase">Get Featured</p>
                </div>
                <div class="text-white">
                    <h1 class="fw-bold display-1 white_stroke">Prenota</h1>
                    <h1 class="fw-bold display-1">Una consulenza</h1>
                    <p class="pe-md-5 py-md-4 fs-5 text-white-50">
                        Il nostro reparto management si <br />
                        occupa di curare e gestire a 360 gradi l’immagine di talenti unici.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('prenota_consulenza' ) }}" class="btn primary-btn"
                    style="display: flex; justify-content: center; align-items: center;">Scopri di più</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}