<footer class="text-white fw-bold bg-dark py-5" style="border-top: .5px solid #5c5c5c;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <p>Credits</p>
      </div>

    </div>
    <div class="row px-5">
      <div class="col-md-4">
        <h6>Tizo cop</h6>
        <p class="fw-bold text-muted">Fotographo</p>
      </div>
      <div class="col-md-4">
        <h6>Tizo cop</h6>
        <p class="fw-bold text-muted">Fotographo</p>
      </div>
      <div class="col-md-4">
        <h6>Tizo cop</h6>
        <p class="fw-bold text-muted">Fotographo</p>
      </div>
    </div>
  </div>
</footer>