<header id="nav_header">
    <div class="navbar bg-transparent">
        <div class="container-fluid px-0 px-md-5">
            <a href="{{ url_for('home' ) }}" class="navbar-brand d-flex align-items-center">
                <img src="/static/images/homeicon.png" width="40" height="40" alt="">
                <span class="bar"></span>
                <span class="text-white">Portfolio</span>
                <span class="bar"></span>
                <span class="text-white">Snipes</span>
            </a>
            <a class="navbar-toggler border-0 nav-link text-white d-flex justify-content-between align-items-center"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="bar_cover">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </span>
                <strong>Menu</strong>
                <!-- <span class="navbar-toggler-icon"></span> -->
            </a>
        </div>
    </div>
</header>