<div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasRight"
    style="background-color: #171616 !important;" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header ">
        <!-- <h5 id="offcanvasRightLabel">Offcanvas right</h5> -->
        <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column mb-auto text-end">
            <li>
                <a href="{{ url_for('chi_siamo' ) }}" class="nav-link text-white">
                    <h4>CHI SIAMO</h4>
                </a>
            </li>
            <li>
                <a href="{{ url_for('servizi' ) }}" class="nav-link text-white">
                    <h4>SERVIZI</h4>
                </a>
            </li>
            <li>
                <a href="{{ url_for('portfolio' ) }}" class="nav-link text-white">
                    <h4>PORTFOLIO</h4>
                </a>
            </li>
            <li>
                <a href="{{ url_for('management' ) }}" class="nav-link text-white">
                    <h4>MANAGEMENT</h4>
                </a>
            </li>
            <li>
                <a href="{{ url_for('lavora_con_noi' ) }}" class="nav-link text-white">
                    <h4>LAVORA CON NOI</h4>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <h4>SOCIAL</h4>
                </a>
            </li>
        </ul>
    </div>
</div>