{% extends 'layouts/port.html' %}
{% block title %} Snipe {% endblock title %}

{% block content %}
<div id="fingerprint_bg"></div>
<section class="min-vh-100 text-white" style="padding-top: 5rem;">
    <div class="container-fluid">
        <div class="row ">
            <div class=" col-12 col-md-8 min-vh-100" id="hero_cover">
            </div>
            <div class="col-12 col-md-4 position-relative">
                <h1 class="header_text">SNIPES</h1>
                <p class="sidewise_text" data-ex="Q_A">Convidial</p>
                <!-- <p class="sidewise_text hide">Q_A</p> -->
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="fs-6 fw-bold">2021</p>
                                <div class="list_items_service">
                                    <ul class="list-group ">
                                        <li class="list-group-item ">
                                            Social
                                            Marketing
                                        </li>
                                        <li class="list-group-item ">
                                            Influencer
                                            Marketing
                                        </li>
                                        <li class="list-group-item ">
                                            PhotoShooting</li>
                                    </ul>
                                </div>

                                <div class="list_items_service mt-5">
                                    <ul class="list-group ">
                                        <li class="list-group-item ">
                                            <img width="24px" height="24px" class="me-2"
                                                src="/static/images/Icon_video.png" alt="">
                                            <span>FOTO & VIDEO</span>
                                        </li>
                                        <li class="list-group-item ">
                                            <img width="24px" height="24px" class="me-2"
                                                src="/static/images/icon_social.png" alt="">
                                            <span>CAMPAGNA SOCIAL</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio enim
                                    officiis
                                    voluptates vel! Excepturi laborum porro velit pariatur sunt quas. Lorem ipsum dolor
                                    sit amet consectetur adipisicing elit. Voluptatum asperiores autem non cumque amet
                                    eius, assumenda mollitia blanditiis accusantium enim quam culpa tenetur unde
                                    provident quia. Pariatur esse optio adipisci hic earum nam culpa id odit dignissimos
                                    amet dolorum maiores obcaecati, fugit illo cupiditate modi explicabo? Ab sit
                                    blanditiis mollitia.</p>
                                <p class="text-white-50">↱ Vai ai sito web</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="scrolling_img">
        <img src="/static/images/SNIPES/scroll-1.jpg" alt="">
    </div>
</section>

<section class="text-white py-5">
    <div class="container my-5 py-4 position-relative">
        <div class="row my-5 align-items-center">
            <div class="col-md-4">
                <p class="fw-bold fs-6">Foto & Video</p>
                <p class="p-3" style="line-height: 2rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugit, tenetur eligendi hic
                    adipisci debitis
                    odit non animi maiores mollitia excepturi ex ullam quasi! Delectus, fuga?</p>
            </div>
            <div class="col-md-4">
                <div class="video_phone">
                    <video width="345" height="690" controls
                        poster="/static/images/SNIPES/idpremium-phone-snipes-social-post-yousra2.jpg">
                        <source src="/static/images/SNIPES/idpremium-webagency-yousra-snipes-video.MP4"
                            type="video/mp4" />
                    </video>
                </div>
            </div>
            <div class="col-md-4 pt-5 mt-5">
                <div class="image_canvas pt-5 mt-5">
                    <img width="450" height="650" src="/static/images/SNIPES/hero-img.JPG" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="bg_text_h1">Lorem, ipsum dolor.</h1>
        </div>
    </div>
</section>

<section>
    <div class="scrolling_img">
        <img src="/static/images/SNIPES/header-image.jpg" alt="">
    </div>
</section>


<section class="text-white py-5 min-vh-100">
    <div class="container my-5 py-4 position-relative">
        <div class="row my-5 align-items-center">

            <div class="col-md-3">
                <div class="image_phone_canvas pt-5 mt-5">
                    <img width="237" height="450"
                        src="/static/images/SNIPES/idpremium-phone-snipes-social-post-yousra.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3 pt-5 mt-5">
                <div class="image_phone_canvas pt-5 mt-5">
                    <img width="237" height="450"
                        src="/static/images/SNIPES/idpremium-phone-social-snipes-post-model.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <p class="fw-bold fs-6">Foto & Video</p>
                <p class="p-3" style="line-height: 2rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugit, tenetur eligendi hic
                    adipisci debitis
                    odit non animi maiores mollitia excepturi ex ullam quasi! Delectus, fuga?</p>
            </div>
        </div>
        <div class="row">
            <h1 class="bg_text_h1 right_text">Lorem, ipsum dolor.</h1>
        </div>
    </div>
</section>

{% endblock %}